* {
  margin: 0;
  padding: 0;
}

/* common styles */
body {
  font-family: "Mulish", sans-serif;
}

section,
footer {
  margin-top: 50px;
}

.container {
  width: 79%;
  max-width: 1320px;
  margin: 0 auto;
}

.section-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  width: 55%;
  text-align: center;
}

/* destination section styles */

.destination-container,
.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destination-container h2,
.destination-container p {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 18px;
  column-gap: 18px;
  align-items: center;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card h2 {
  position: absolute;
  top: calc((100% - 28px) / 2);
  bottom: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#card-1 {
  grid-column: 1 / span 6;
}
#card-2 {
  grid-column: 7 / span 6;
}

#card-3 {
  grid-column: 1 / span 4;
}

#card-4 {
  grid-column: 5 / span 5;
}

#card-5 {
  grid-column: 10 / span 3;
}

#card-6 {
  grid-column: 1 / span 5;
}

#card-7 {
  grid-column: 6 / span 7;
}

/* features section styles */

.feature-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

#feature-1 {
  grid-column: 1 / span 6;
}

#feature-2 {
  grid-column: 7 / span 6;
  background: rgba(41, 206, 246, 0.05);
}
#feature-3 {
  grid-column: 4 / span 6;
  background: rgba(233, 68, 68, 0.05);
}

.feature {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 30px;
}

.feature * {
  margin-bottom: 8px;
}

.feature p {
  width: 85%;
}

.feature h3,
.newsletter-content h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

/* footer section styles */

.footer-container {
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  text-align: center;
  height: 100%;
}

.footer-container h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.footer-icons i {
  color: #131318;
  margin-right: 25px;
}

.footer-container p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 55%;
}

.footer-description {
  width: 55%;
}

.footer-container hr {
  background: rgba(19, 19, 24, 0.1);
  width: 70%;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand p,
.brand span {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}

.brand img {
  width: 40px;
}
.brand span {
  color: #ff5400;
  margin-left: 5px;
}

/* newsletter section styles */

.newsletter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  justify-content: center;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.newsletter-content p {
  width: 60%;
}

.newsletter-content hr {
  width: 90%;
  background: rgba(19, 19, 24, 0.1);
  color: #131318;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 16px 20px;
  border: none;
}

form button,
.newsletter-image button {
  border-radius: 8px;
  background: #ff5400;
  padding: 14px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.newsletter-image {
  display: flex;
  flex-direction: column;
  position: relative;
}

.newsletter-image button span {
  display: block;
  font-weight: 700;
}

.newsletter-image button {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: rotate(-15deg);
  transform-origin: left bottom;
  scale: 1.04;
  padding: 20px 25px;
  width: 40%;
}

.newsletter-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 16px;
}

/* popular section styles */

.popular-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  align-items: center;
}

.popular-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.popular-content ul {
  padding-left: 20px;
}

.popular-content ul li {
  text-decoration: none;
}

.popular-content p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  width: 90%;
}

.popular-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.popular-content button {
  border-radius: 8px;
  background: #ff5400;
  padding: 14px 22px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: none;
  max-width: fit-content;
}

/* banner styles */

.banner-container {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner.png") no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: center;
  height: 500px;
  border-radius: 16px;
}

.banner-container .section-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.banner-container .section-description {
  color: #fff;
  font-size: 16px;
}

.banner-select-container {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 24px;
  display: flex;
  gap: 24px;
}

.banner-select-container input {
  border-radius: 8px;
  background: #fff;
  border: none;
  padding: 14px 20px;
}
.select-custom select {
  font-size: 16px;
  padding: 14px 20px;
  background-color: #fff;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  cursor: pointer;
  border: none;
}

.banner-select-container button {
  padding: 16px 20px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #FFF;
}

.banner-select-container button span{
  margin-right: 5px;
}

/* responsive styles */

@media screen and (max-width: 601px) {
  .card-container,
  .feature-container {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .card h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  #card-1,
  #card-2,
  #card-3,
  #card-4,
  #card-5,
  #card-6,
  #card-7,
  #feature-1,
  #feature-2,
  #feature-3 {
    grid-column: 1 / span 1;
  }

  .card img {
    height: 176px;
  }

  .section-description {
    width: 95%;
    font-size: 14px;
  }

  .section-title {
    font-size: 20px;
  }

  .feature h3 {
    font-size: 16px;
  }

  .brand p,
  .brand span {
    font-size: 25px;
  }

  .footer-description {
    width: 100%;
  }
  .footer-icons i {
    margin-right: 10px;
  }

  .footer-container #copyright {
    font-size: 14px;
    width: 100%;
  }

  .newsletter-container {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  .newsletter-image button {
    padding: 10px 15px;
  }
  .newsletter-content p {
    width: 100%;
  }

  .popular-container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .banner-select-container {
    flex-direction: column;
  }

  .banner-container{
    text-align: center;
    height: max-content;
    padding: 20px;
  }

  .banner-select-container .select-custom select{
    width: 100%;
  }


}
